/** Add some styles */
.block {
    width: 2.2em;
    height: 2.2em;
    vertical-align: middle;
    font-size: 2.0em;
    background-color: #fff;
} 

.grid-container {
  display: grid;
  grid-template-areas:
    ". . p3 p3 p3 p3 p3 . ."
    ". . p3 p3 p3 p3 p3 . ."
    "p2 p2 . . . . . p4 p4"
    "p2 p2 . . p7 . . p4 p4"
    "p2 p2 . . . . . p4 p4"
    "p2 p2 . p6 p9 p8 . p4 p4"
    "p2 p2 . . . . . p4 p4"
    "p2 p2 . . p5 . . p4 p4"
    "p2 p2 . . . . . p4 p4"
    ". . p1 p1 p1 p1 p1 . ."
    ". . p1 p1 p1 p1 p1 . .";
  
}

.grid-container > div {
  background-color: rgba(255, 255, 255, 2.0);
  text-align: center;
  padding: 10px 10px;
  font-size: 20px;
}

.p1 {grid-area: p1;}
.p2 {grid-area: p2;}
.p3 {grid-area: p3;}
.p4 {grid-area: p4;}
.p5 {grid-area: p5;}
.p6 {grid-area: p6;}
.p7 {grid-area: p7;}
.p8 {grid-area: p8;}
.p9 {grid-area: p9;}

.scoretable, th, td {
  font-size: 1.2em; 
  border: 0.5px solid black;
  border-collapse: collapse;
  width: 50%

}

td {
  text-align: center;
  width: 100px;
}

